QFrame {
	background-color: rgb(240, 240, 240);
	border-radius: 10px;
}

QLabel {
	color: rgb(0, 0, 0);
	font-family: 'Segoe UI';
}
#infoLabel {
	font-size: 10pt;
}
#messageLabel {
	font-size: 8pt;
}

QProgressBar {
	background-color: rgb(220, 220, 220);
	border-style: none;
	border-radius: 10px;
	margin-left: 30px;
	margin-right: 30px;

	text-align: center;
}
QProgressBar::chunk {
	background-color: qlineargradient(spread:pad, x1:0, y1:0.739, x2:1, y2:0, stop:0 rgba(31, 111, 235, 50), stop:1 rgba(31, 111, 235, 255)); 
	border-style: none;
	border-radius: 10px;

	text-align: center;
}
